:root {
    --header-bg-color: #EEEEEE;
    --footer-bg-color: #4B6B7A;
    --main-bg-color: #ECECEC;
    --form-bg-color: #E3E3E3;
    --aside-bg-color: #E3E3E3;
    --input-bg-color: #EDEDED;
    --theme-bg-color: #CCD6D6;
    --theme-darker-bg-color: #81B9C1;
    --card-bg-color: #CCD6D6;
    --task-card-bg-color: #FBFBFB;
    --disruptive-bg-color: #CD7272;
    --card-description-bg-color: #EDEDED;
    --form-title-text-color: #7c7c7c;
    --card-title-text-color: #163144;
    --description-text-color: #636363;
    --button-text-color: #163144;
    --border-radius: 6px;
    --button-border-radius: 6px;
    --card-border-radius: 8px;
    --highlight-bg-color: #CCD6D6;
    --highlight-border-radius: 8px;
    --new-button-color: #7E9C6B;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* height: 100vh; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--header-bg-color);
    padding-inline: 18px;
    padding-block: 26px;
    display: flex;
    align-items: center;
    gap: 24px;
    border-bottom: solid 3px rgba(0, 0, 0, 0.15);
    z-index: 2;
}

.logo-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 16px;
}

.toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--highlight-border-radius);
    padding: 10px;
}

.toggle-container:hover {
    background-color: var(--card-bg-color);
}

.logo {
    width: 160px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar {
    display: flex;
    gap: 12px;
    font-size: 20px;
    color: #000000;
}

.navbar li {
    padding: 8px 12px;
    cursor: pointer;
}

.navbar li:hover {
    color: var(--button-text-color);
    background-color: #CCD6D6;
    border-radius: var(--highlight-border-radius);
}

.highlight {
    color: #163144;
    background-color: #CCD6D6;
    border-radius: var(--highlight-border-radius);
}

main {
    height: 100%;
    flex-grow: 2;
    background-color: var(--main-bg-color);
}

footer {
    background-color: var(--footer-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 20px;
    color: white;
    font-size: 16px;
}