.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding: 32px;
    background-color: var(--form-bg-color);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

label {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

label p {
    font-weight: bold;
    font-size: 18px;
    color: var(--form-title-text-color);
}

input {
    all: unset;
    background-color: var(--input-bg-color);
    border-radius: var(--border-radius);
    padding: 10px;
    cursor: text;
    font-size: 24px;
    color: black;
}

input::placeholder {
    color: black;
}

.action-btn {
    background-color: #CCD6D6;
    border-radius: var(--border-radius);
    padding-block: 12px;
    font-weight: bold;
    color: var(--button-text-color);
    display: flex;
    justify-content: center;
}

.action-btn:hover {
    filter: saturate(2);
    box-shadow: 0 2px 6px -1px rgb(0 0 0 / 0.1), 0 1px 4px -1px rgb(0 0 0 / 0.1);
}

.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}