main {
    display: flex;
    flex-direction: row;
}

aside {
    width: 20%;
    flex-shrink: 0;
    background-color: var(--aside-bg-color);
}

.container {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.top-bar {
    display: flex;
    gap: 10px;
}

.btn {
    padding-inline: 12px;
    padding-block: 6px;
    background-color: var(--new-button-color);
    border-radius: var(--button-border-radius);
    color: white;
    font-weight: bold;
}

h1 {
    font-size: 36px;
}

.board-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.board-card {
    width: 300px;
    padding: 16px;
    border-radius: var(--card-border-radius);
    background-color: var(--card-bg-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-header h3 {
    font-size: 20px;
    font-weight: bold;
    color: var(--card-title-text-color);
}

.description-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 10px;
    border-radius: var(--card-border-radius);
    background-color: var(--card-description-bg-color);
}

.description-box .description {
    font-size: 20px;
}

.description-box .meta-data {
    color: #555555;
    font-size: 16px;
}

.modal {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#new-task-board-modal {
    display: none;
}

#more-option-modal {
    display: none;
}

.modal-content {
    position: relative;
    padding: 32px;
    /* width: 50%; */
    /* height: 50%; */
    background-color: var(--main-bg-color);
    border-radius: var(--card-border-radius);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.modal-content form {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.modal-content h2 {
    font-size: 26px;
    font-weight: bold;
}

.modal-content label {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.modal-content label p {
    font-weight: bold;
    font-size: 18px;
    color: var(--form-title-text-color);
}

.modal-content input {
    min-width: 30vw;
    min-height: 30px;
    border-radius: var(--border-radius);
    padding: 10px;
    cursor: text;
    font-size: 20px;
    color: black;
}

.modal-content input::placeholder {
    color: black;
}

.modal-content .btn-group {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.action-btn {
    width: 100%;
    background-color: #b1c7c7;
    border-radius: var(--border-radius);
    padding-block: 12px;
    font-size: 18px;
    font-weight: bold;
    color: var(--button-text-color);
    display: flex;
    justify-content: center;
}

.action-btn:hover {
    filter: saturate(2);
    box-shadow: 0 2px 6px -1px rgb(0 0 0 / 0.1), 0 1px 4px -1px rgb(0 0 0 / 0.1);
}

.btn-group .cancel-btn {
    background-color: #C1C1C1;
}